@import 'variables';
@import 'animations';

// Reset & base styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  //overflow-y: hidden;
}

// Utility classes
.mb-4 {
  margin-bottom: $spacing-4;
}

.mb-6 {
  margin-bottom: $spacing-6;
}

.text-lg {
  font-size: $text-lg;
}